<!-- <app-sidebar></app-sidebar>
<app-por-capital></app-por-capital>
<app-por-region></app-por-region>
<app-por-pais></app-por-pais>
<app-ver-pais></app-ver-pais> -->

<div class="row container mt-4">
  <div class="col-3">
    <h2>Busquedas</h2>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">Buscar país</li>
      <li class="list-group-item">Buscar region</li>
      <li class="list-group-item">Buscar por Capital</li>
    </ul>
  </div>

  <div class="col">
    <router-outlet>
      
    </router-outlet>
  </div>

</div>